<!-- app/views/trips/new.html.erb -->
<h1>Start Your Trip</h1>

<%= form_with model: @trip, local: true do |f| %>
  <div>
    <%= f.label :destination, "Where are you flying to?" %>
    <%= f.text_field :destination %>
  </div>

  <div>
    <%= f.label :start_date, "Start Date" %>
    <%= f.date_select :start_date %>
  </div>

  <div>
    <%= f.label :end_date, "End Date" %>
    <%= f.date_select :end_date %>
  </div>

  <div>
    <%= f.label :total_people, "How many people?" %>
    <%= f.number_field :total_people %>
  </div>

  <%= f.submit "Next" %>
<% end %>
